.container
    %h2
        Skills
    .row
        .col-sm-4
            %figure
                %canvas{ id: 'html_css', width: 150, height: 150 }
                %figcaption
                    Semantic HTML5 & CSS3
        .col-sm-4
            %figure
                %canvas{ id: 'sass', width: 150, height: 150 }
                %figcaption
                    Sass
        .col-sm-4
            %figure
                %canvas{ id: 'jquery', width: 150, height: 150 }
                %figcaption
                    jQuery
    .row
        .col-sm-4
            %figure
                %canvas{ id: 'rails', width: 150, height: 150 }
                %figcaption
                    Ruby on Rails
        .col-sm-4
            %figure
                %canvas{ id: 'backbone', width: 150, height: 150 }
                %figcaption
                    Backbone.js
        .col-sm-4
            %figure
                %canvas{ id: 'photoshop', width: 150, height: 150 }
                %figcaption
                    Photoshop/Sketch
